

<% if (!flash[:notification].nil? || !flash[:notification 	] == '') %>
<div id="notification">
<p><%= flash[:notification] %></p>
</div>
<% end %>

<div id="graph">
text
</div>
<%= link_to_remote ("Home", :update => "graph", :url => {:controller => :users, :action=> :partial_test, :data => @column_chart}) %>






