<p>
  <b>Login:</b>
  <%=h @user.login %><br />
  <b>Password:</b>
     <%=h @user.crypted_password %><br />
	 <b>password salt</b>
    <%=h @user.password_salt %><br />
	<b>persistence token</b>
    <%=h @user.persistence_token %><br />
</p>
