<div class="image2">
<%= image_tag("/images/gui.jpg", :alt => "gui", :width => 600, :height =>350) %>
</div>
<div class="content2">
<h1>Interactive Gui</h1>
	<p>Tired of writing down all your workouts in a piece of paper?
	Now you can easily maintain which workouts you have done!</p>
	<p>With our interactive GUI, you can easily add exercises to your workout, and continually
	update or fix them.</p>
	<p> Maintaining your workout has never been easier!</p>
	
</div>