<div class="image2">
<%= image_tag("/images/calendar.jpg", :alt => "calendar", :width => 600, :height =>350) %>
</div>
<div class="content2">
<h1> The Calendar</h1>
<p>The calendar allows you to effectively plan your schedule and create multiple workouts over many days.</p>
<p>It also has the option of dragging events around to change the time, so no need to manually update the time. </p>
<p>Clicking an event will bring up the interactive UI that gives you the chance to create or update a workout. </p>
<p>We can view the calendar in month form so it is easier to plan ahead. </p>
</div>
