<% if !current_user %>
<%= render "layouts/login" %>
  <div id="info">
	This is where we talk about what our project is about. 
	This is where we talk about what our project is about. 
	This is where we talk about what our asdfsdf
	This is where we talk about what our project is about.
	This is where we talk about what our project is about.
	This is where we talk about what our project is about.
	This is where we talk about what our project is about.
	This is where we talk about what our project is about.
  </div>
  
  
  
  
  
<% else %>
<%= render "layouts/navigation" %>
  <div id="info">
	This is where we talk about what our project is about. 
	This is where we talk about what our project is about. 
	This is where we talk about what our asdfsdf
	This is where we talk about what our project is about.
	This is where we talk about what our project is about.
	This is where we talk about what our project is about.
	This is where we talk about what our project is about.
	This is where we talk about what our project is about.
  </div>
<% end %>



<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

