
<% if !current_user %>
<h1> Welcome</h1>
	This is where we talk about what our project is about. 
	This is where we talk about what our project is about. 
	This is where we talk about what our asdfsdf
	This is where we talk about what our project is about.
	This is where we talk about what our project is about.
	This is where we talk about what our project is about.
	This is where we talk about what our project is about.
	This is where we talk about what our project is about.
<% else %>
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.
	This is where we display relevant information to the user about their workout stuff.

<% end %>
<%= yield %>

