html, body { 
	margin: 0; 
	padding: 0; 
	font: 9pt trebuchet ms, verdana, sans-serif, arial; 
	 /*background: #6E7985*/
}

#container {
	width: 950px;
	text-align: left;
	border: 1px solid #ddd;
	margin: 0 auto;
	background: #FFFFFF;
}
#header {
	border-bottom: 1px solid #ddd;
	height: 50px;
	position: relative;
	margin: auto;
}

#header h1 {
	padding: 0;
	margin: 0;
}


#logo{
	bottom: 0px;
	position: absolute;
	left: 10px;
}

#wrapper {
	text-align: right;
	position: relative;
	right: 5px;
	width: 225px;
	float: right;
}
#info {
	top: 5px;
	position: relative;
}
#nav {
	top: 3px;
	position: relative;
	width: 100%;
}

#content {
	padding: 15px 10px;
	min-height: 400px;
	background: #FFFFFF;
	
}
#center {
	margin: auto;
}

#notice {
	width: 200px;
	color: green;
	margin: auto;
}

#notice p {
	text-align: center;
}

#notification {
	width: 200px;
	color: red;
	margin: auto;
}

#notification p{
	text-align: center;
}
#error {
	width: 200px;
	color: red;
	margin: auto;
}

#error p {
	text-align: center;
}
#profile {
	margin:auto;
	width: 275px;
	text-align: center;
}

#footer {
	border-top: 1px solid #ddd;
}
#footer p{
	text-align: center;
}

#coloredBar{
	background-color: #3B5998;
	height: 51px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
}

#graph {
	margin: auto;
	width: 500px;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4 {
	text-shadow: 0 1px 0 #DDDDDD;
}

fieldset
{	
	color: #000000;

	background-color: #bbbbbb;
	position: relative;
	border: 1px solid #aaaaaa;
	width: 250px;
	padding: 10px;
	margin: 0px;

/* mozilla browser */
-moz-border-radius: 10px;
/* opera browser */
border-radius: 10px;
/* chrome & safari browser */
-webkit-border-radius: 10px;
}

input
{
color: #000000;
background-color: #FFFFFF;
border: 1px solid #aaaaaa;


/* mozilla browser */
-moz-border-radius: 5px;
/* opera browser */
border-radius: 5px;
/* chrome & safari browser */
-webkit-border-radius: 5px;
}

.shadow {
	 -moz-box-shadow: 1px 1px 10px #00f;
	 -webkit-box-shadow: 5px 5px #818181;
}