<% if !current_user %>
  <span>Please register or login here.</span>
<% else %>
  <span>Logged in as <%= current_user.login %></span> (<%= link_to "Logout", logout_path, :confirm => "Are you sure you want to logout?" %>)
<% end %>