<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'login' %>

</head>
<body>
<div id="container">

<div id="header">
<span id="logo">
<h1><a href="/">Online Exercise</a></h1>
</span>
</div>

<div id="content">
<%= yield %>
</div>

<div id="footer">
<p>Copyright &copy; 2010 David Chock, Stephanie Ren, Cavin Woo, Edward Wu. All Rights Reserved.</p>
</div>

</div>
</body>
</html>

