<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag 'application' %>

</head>
<body>
<div id="container">

<div id="header">
<p>this is where the header goes</p>
</div>

<div id="content">
<%= yield %>
</div>

<div id="footer">
<p>this is where the footer goes</p>
</div>

</div>
</body>
</html>

